/* core styles */

body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;

}

img {
    display: flex;
    width: 100%;
    height: auto;

}

h1 ,h2 , h3 {
    margin:0;
    padding: 1em 0;

}

p {
    margin:0;
    padding: 1em 0;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    margin: .5em 0;

}
.showcase .hidden {
    display: none;
}
.btn:hover {
    background: #eaeaea;
    color: #333;
}

/*Header showcase */

.showcase{
    color: #fff;
    align-items: center;
}
.showcase-header {
    display: flex;
    flex-direction: column-reverse;
}
.showcase .bg-image {
    width: 70pt;
    height: 70pt;
    clip-path: circle(50%);
    background-color: aqua;
    margin: 3%;
    align-self: center;
    
}
#main .key-image {
    width: 100%;
    margin: 0px;
}
#main {
    padding: 0px;
}
.showcase .content-wrap, 
#section-a .content-wrap {
    padding: 0 0;
}

/* Section A */

#main {
    padding-left: 0px;
    padding-right: 0px;
}


#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
    margin: 0px;
    padding: 0px;
}

.content-wrap, 
.key-image,
.key-image img {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    position: relative;
}
.caption1 {
    position: absolute;
    bottom: 10%;
    background-color: #eaeaea;
    padding: 5pt;
    width: 350pt;
    text-align: left;
    font-size: 24px;
}

/* Sections b*/

#section-b {
    padding: 0.2em 0.2em;
}

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li {
    
    background: #fff;
    color: #333;
}

.card-content { 
    padding: 1.5em;
}

/*Section c*/

#section-c {
    background: #fff;
    color: #333;
    padding: 2em
}

/*Section d*/

#section-d .box {
    padding: 2em;
    color: #fff;
}

#section-d .box:first-child {
    background: #2690d4;
}

/*footer */

#main-footer {
    background: #000;
    color: #fff;
    text-align: center;
}

#main-footer a {
    color:#2690d4;
    text-decoration: none;
}
.more-links {
    display: none;
}
#main-footer{
    width: 100vw;
    padding: .5pt;
    position: relative;

}

#main-footer .watermark {
    text-align: left;

    height: 1vh;
}
#main-footer .left {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
#main-footer .right{
    text-align: right;
    margin: 10pt;
}


/*Media queries */

@media(min-width: 700px) and (max-width: 1023px) {
    .showcase-header, .links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0pt;
    }
    .showcase-header {
        padding: 12pt;
    }
    .links{
        position: absolute;
        right: 0pt;
    }
    .links a {
        margin-top: 26pt;
        width: 80pt;
        max-height: 16pt;

    }
    .bg-image img {
        width: 70pt;
        height: 70pt;
        border-radius: 100%;
        left: 12pt; 
        margin-top: 0pt;
    }
    .grid-1 {
        display: flex;
    }
    .grid {
        display: grid;
        grid-template-columns:  auto;
    }

    #section-a .content-text {
        columns: 1;
        column-gap: 6em;
    }

    #section-a .content-text p {
        padding-top: 0;       
    }
    .content-wrap,
    #section-b ul {
        grid-column: 1/4;
    }

    #main-footer div {
        
    }

    #section-b ul {
        display: flex;
        justify-content: space-between;
    }   

    #section-b li {
        width: 100%;
    }

    #showcase{
        padding-top: 100;
    }
    
    .btn {
        padding: .5em 2em;
        border: none;
    }
    #main-footer{
        width: 100vw;
        padding: .5pt;
        position: relative;

    }

    #main-footer .watermark {
        text-align: left;

        height: 1vh;
    }
    #main-footer .left {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
    #main-footer .right{
        text-align: right;
        margin: 10pt;
    }

}

@media(min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 20% 80%;
    }
    .section-b .card {

    }
    .showcase-header, .links {
        display: grid;
        grid-column: 1;
        justify-content: space-between;
        padding: 0pt;
    }
    .showcase-header {
        padding: 3pt;
        grid-template-columns: 1fr 2fr 2fr 2fr ;
    }
    .links {
        flex-direction: column;
        right: 1070pt;
        margin-top: 50pt;
    }
    .more-links {
        display: grid;
        grid-column: 1;
        margin-top: 26pt;
        max-height: 16pt;
        position: relative;
        margin-top: 80pt;
    }
    .more-links a {
                
    }
    .more-links :hover {
        color: #2690d4;
    }
    .more-links :visited {
        color: #2690d4;
    }
    #main-footer{
        width: 100vw;
        padding: .5pt;
        position: relative;

    }

    #main-footer .watermark {
        text-align: left;

        height: 1vh;
    }
    #main-footer .left {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
    #main-footer .right{
        text-align: right;
        margin: 10pt;
    }
    
    .links a {
        margin-top: 26pt;
        width: 80pt;
        max-height: 16pt;

    }
    .showcase .hidden {
        display: block;
        position: absolute;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 380pt;
        z-index: -2;
        opacity: 0.7;
    }
    .bg-image img {
        width: 70pt;
        height: 70pt;
        border-radius: 100%;
        left: 12pt; 
        margin-top: 0pt;

    }
    .grid-1 {
        display: flex;
    }
    .grid {
        display: grid;
        grid-template-columns: auto;
    }
    .section-b .grid {
        grid-template-columns: 20% 20% 20% 20%;
    }

    #section-a .content-text {
        columns: 2;
        column-gap: 6em;
    }

    #section-a .content-text p {
        padding-top: 0;       
    }
    .content-wrap,
    #section-b ul {
        grid-column: 1/4;
    }

    #section-b ul {
        display: flex;
        grid-column: 2/6;
        justify-content: space-between;
    }   

    #section-b li {
        width: 100%;
    }

    #showcase{
        padding-top: 100;
    }
    
    .btn {
        padding: .5em 2em;
        border: none;
    }
}

